<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fenixx Eye - Admin Panel</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Fennix Eye - Home</title>
    <link rel="icon" href="../images/Iconos/Icono fenixx.svg" type="png" />
  </head>

  <body>
    <div class="bcakground-admin">
      <div class="container mt-5 general-cont-admin">
        <!-- buscador -->

        <div class="row body-dashboard">
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-success w-75"
              data-toggle="modal"
              data-target="#crearNoticiaModal">
              Crear Noticia
            </button>
          </div>
          <div class="col-md-6 barra-busqueda">
            <div class="input-group mb-3 try1">
              <div class="input-group-append w-100 try2">
                <form action="/admin/search" method="GET" class="d-flex try3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar Post"
                    aria-label="Buscar"
                    aria-describedby="basic-addon2"
                    name="title" />
                  <button class="btn btn-secondary" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-end">
            <form action="/auth/logout?_method=DELETE" method="POST" id="delete-form">
              <button type="submit" class="btn btn-danger w-75">Log Out</button>
            </form>
          </div>
        </div>

        <!-- termina buscardor -->

        <!--DATA-->

        <div class="container caja-noticias">
          <div class="row mb-3">
            <div class="col-md-2"><h4>Titulo</h4></div>
            <div class="col-md-2 table-title"><h4>Imagen</h4><span>1920x1080</span></div>
            <div class="col-md-3 table-title"><h4>Descripcion</h4></div>
            <div class="col-md-2 table-title"><h4>Fecha de carga</h4></div>
            <div class="col-md-2 table-title"><h4></h4></div>
          </div>
        </div>

        <% posts.forEach(post => { %>

        <div class="row mb-8px">
          <div class="cont-noticia-info-completa">
            <div class="col-md-2">
              <a href="/noticias/<%= post._id %>" style="text-decoration: none; color: white">
                <h2><%= post.title %></h2>
              </a>
            </div>
            <div class="col-md-2">
              <img src="../../uploads/<%= post.image %>" alt="<%= post.title %> image" width="80" />
            </div>

            <div class="col-md-3">
              <p><%= post.description %></p>
            </div>
            <div class="col-md-2">
              <p>Created at: <%= post.createdAt.toDateString() %></p>
            </div>
            <div class="col-md-2 contenedor-botonera">
              <button
                type="button"
                class="btn btn-primary btn-editar"
                data-target="#editarPostModal-<%= post._id %>"
                data-toggle="modal">
                Editar
              </button>

              <form action="/admin/delete/<%= post._id %>/<%= post.image %>" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger btn-eliminar">Eliminar</button>
              </form>
            </div>
          </div>
          <hr />
        </div>
        <!-- modales -->
        <div
          class="modal modal-lg fade"
          id="editarPostModal-<%= post._id %>"
          tabindex="-1"
          aria-labelledby="editarPostModal-<%= post._id %>"
          aria-hidden="true"
          data-target=".bd-example-modal-lg">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editarProductoModalLabel">Editar <%= post.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  action="/admin/update/<%= post._id %>"
                  method="POST"
                  enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="nombreProducto" class=" primario-titulo">Título</label>
                      <input
                        type="text"
                        class="form-control"
                        name="title"
                        value="<%= post.title %>" />
                    </div>
                    <div class="col-md-6">
                      <label for="categoriaProducto">Categoría</label>
                      <input
                        type="text"
                        class="form-control"
                        name="category"
                        value="<%= post.category %>" />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label for="descripcionProducto">Descripción</label>
                      <textarea class="form-control" name="description" rows="4">
<%= post.description %></textarea
                      >
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label for="imagenProducto">Imagen</label>
                      <input type="file" class="form-control" name="image" accept="image/*" />
                    </div>
                  </div>
                  <div class="form-group m-2 contendor-guardar-btn">
                    <button type="submit" class="btn btn-primary" name="submit" value="submit">
                      Guardar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <% }) %> <% if (typeof result !== 'undefined' && result.length >= 0) { %> <%
        result.forEach(post => { %>
          <div class="row mb-8px">
          <div class="cont-noticia-info-completa">
            <div class="col-md-2">
              <a href="/noticias/<%= post._id %>" style="text-decoration: none; color: white">
                <h2><%= post.title %></h2>
              </a>
            </div>
            <div class="col-md-2">
              <img src="../../uploads/<%= post.image %>" alt="<%= post.title %> image" width="80" />
            </div>

            <div class="col-md-3">
              <p><%= post.description %></p>
            </div>
            <div class="col-md-2">
              <p>Created at: <%= post.createdAt.toDateString() %></p>
            </div>
            <div class="col-md-2 contenedor-botonera">
              <button
                type="button"
                class="btn btn-primary btn-editar"
                data-target="#editarPostModal-<%= post._id %>"
                data-toggle="modal">
                Editar
              </button>

              <form action="/admin/delete/<%= post._id %>/<%= post.image %>" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger btn-eliminar">Eliminar</button>
              </form>
            </div>
          </div>
          <hr />
        </div>

        <div
          class="modal modal-lg fade"
          id="editarPostModal-<%= post._id %>"
          tabindex="-1"
          aria-labelledby="editarPostModal-<%= post._id %>"
          aria-hidden="true"
          data-target=".bd-example-modal-lg">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editarProductoModalLabel">Editar <%= post.title %></h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  style="background: none; border: none; font-size: 40px; color: red">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  action="/admin/update/<%= post._id %>"
                  method="POST"
                  enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="nombreProducto text-primary">Titulo</label>
                      <input
                        type="text"
                        class="form-control"
                        name="title"
                        value="<%= post.title %>" />
                    </div>
                    <div class="col-md-6">
                      <label for="nombreProducto">Categoria</label>
                      <input
                        type="text"
                        class="form-control"
                        name="category"
                        value="<%= post.category %>" />
                    </div>
                  </div>
                  <div class="row mt-20px">
                    <div class="col-md-12">
                      <label for="">Descripcion</label>
                      <textarea
                        class="form-control"
                        name="description"
                        placeholder="<%= post.description %>"><%= post.description %>
                      </textarea>
                    </div>
                  </div>
                  <div class="row mt-20px">
                    <div class="form-group mt-20px">
                      <input type="file" class="form-control" name="image" accept="image/*" />
                    </div>
                  </div>

                  <div class="form-group m-2 ">
                    <button type="submit" class="btn btn-primary" name="submit" value="submit">
                      Guardar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }) %> <% if (result.length === 0) { %>
        <div class="row mb-2 product-row">
          <h3 class="">No hay coincidencias</h3>
        </div>
        <% } %> <% } %>

        <div
          class="modal modal-lg fade"
          id="crearNoticiaModal"
          tabindex="-1"
          aria-labelledby="crearNoticiaModal"
          aria-hidden="true"
          data-target=".bd-example-modal-lg">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="crearProductoModalLabel">Crear Nueva Noticia</h5>
              </div>
              <div class="modal-body">
                <!-- Contenido del formulario para crear un nuevo producto -->
                <form action="/admin/create" method="POST" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="">Titulo</label>
                      <input type="text" class="form-control" name="title" />
                    </div>
                    <div class="col-md-6">
                      <label for="">Categoria</label>
                      <input type="text" class="form-control" name="category" />
                    </div>
                  </div>
                  <div class="row mt-20px">
                    <div class="col-md-12">
                      <label for="">Descripcion</label>
                      <textarea class="form-control" name="description"></textarea>
                    </div>
                  </div>

                  <div class="form-group mt-20px">
                    <label for="nombreProducto">Imagen</label>
                    <input type="file" class="form-control" name="image" accept="image/*" />
                  </div>

                  <div class="form-group m-2">
                    <button
                      type="submit"
                      class="btn btn-primary btn-create-post"
                      name="submit"
                      value="submit">
                      Crear
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="../scripts/admin.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </div>
  </body>
</html>
